*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(131, 128, 124);
    min-height: 100vh;
}
.centre-div{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 50px;
}
.left-div,
.right-div{
    
    height: 86vh;
    width: 50%;
    
}
.left-text-heading,
.right-text-heading{
background-color: rgb(54, 53, 53);
color: #fff;
height: 30px;
display: flex;
justify-content: center;
font-size: 1.1rem;
border-radius: 10px 10px 0 0;
}
.left-text,
.right-text{
    background-color: black;
    height: 94.3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0 0 10px 10px ;
}
.show-text,
.text-area{
    color: #fff;
    background-color: black;
    width: 90%;
    height: 94%;
    padding: 10px;
    border: none;
    font-size: 18px;
    resize: none;
    outline: none;
    font-size: 15px;
    
}
.show-text{
    overflow-x: scroll;
}